/* main.css */

/* Header */
.header {
    background-color: #ade8f4;
    padding: 20px;
}

.logo_container img {
    max-width: 100%;
    height: auto;
}

.top_bar_user {
    margin-top: 20px;
}

.top_bar_user a {
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

/* Main Navigation */
.main_nav_content {
    margin-top: 20px;
}
.main_nav {
    background-color: #0077b6;
    padding: 10px 0; /* Adjust padding as needed */
}

.main_nav_content img {
    margin-right: 10px;
}

/* Footer */
footer {
    padding: 50px 0;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .top_bar_user {
        margin-top: 10px;
    }

    .top_bar_user a {
        font-size: 14px;
    }
    /* Adjustments for auth links */
.auth_links {
    display: inline-block;
    vertical-align: middle;
}

.auth_links a {
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

.auth_links .divider {
    margin: 0 10px;
    color: #000;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .auth_links a {
        font-size: 14px;
    }
}

}
